* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle,rgb(4, 7, 7),rgb(0, 0, 155),rgb(0, 0, 41));
  
    
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    display: none;
    margin-bottom: 50px;

}
.name{
    background-color: #ffffff;
    width: 90%;
    max-width: 900px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    height: 600px;
}

input{
    background: radial-gradient(circle,rgb(255, 255, 255),rgb(255, 255, 255));
    padding: 5px;
    border: 2px black solid;
    border-radius: 5px;
    width: 260px;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    margin-top: 20px;
}
label{
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
}
input:focus{
    border: 2px solid black;
}
h1 {
    font-size: 1.8rem;
    border-bottom: 1px solid blue;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h2-b{
    font-size: 25px;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
span{
    color: white;
}
.h2{
    font-size: 25px;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-top:0px ;
}
.h4{
     font-size: 25px;
    text-align: right;
    padding: 5px 0;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:0px ;
}
.quiz {
    padding: 20px;
    text-align: left;
}

.quiz h2 {
    padding: 0;
    margin-left: 0;
    margin-bottom: 30px;
    text-align: left;
}

.quiz .btn {
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: 0.1s;
    text-align: left;
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
}
img{
    width: 180px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-left: 40%;
}
.cer{
    font-size: 2em;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    border-bottom: none;
    font-family: Arial, Helvetica, sans-serif; 
}
.h4-a{
       text-align: center;
       margin-top: 30px;
}
.h4-b{
    text-align: center;
    margin-top: 10px;
}
.hk-h{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h2{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}
h4{
    text-align: center;
    margin-top: 30px;
}
.sign{
    text-align: right;
    width: 250px;
    height: 50px;
    padding: 2px;
    margin: 0 auto;
    margin-left: 800px;
    margin-top: 20px;
}
.certifi{
    position: relative;
    padding: 10px;
    outline: 2px double rgb(54, 54, 54);
    outline-offset: -20px;
    background-color: white;
    width: 1123px;
    height: 794px;
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
    display: none;
}
.certifi::before{
    content: "Study with Tamim";
    font-size: 100px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.06); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-10deg);
    pointer-events: none;
    z-index: 0;
    white-space: nowrap;
}
#btn{
 padding: 10px 55px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(15, 110, 252);
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.4s;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
}
#btn:hover{
    background-color:  rgb(7, 65, 151); 
}
.quiz .btn:hover:not([disabled]) {
    background-color: rgb(12, 53, 238);
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.btn:disabled{
    cursor: no-drop;
}

#next-gt{
      padding: 15px 60px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(15, 110, 252);
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.4s;
    text-align: center;
    display: none;
    cursor: pointer;
    font-size: 1.2rem;
}
#next {
    padding: 15px 60px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(15, 110, 252);
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.4s;
    text-align: center;
    display: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.replay{
     padding: 15px 60px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(15, 110, 252);
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.4s;
    text-align: center;
    display: none;
    cursor: pointer;
}
#next:hover {
    background-color: rgb(0, 60, 255);
    transform: scale(1.05);
    cursor: pointer;
    color: white;
}
.correct{
    background: rgb(55, 252, 88);
}
.incorrect{
     background: rgb(255, 80, 57);
}
